{
  "type": "postgres",
  "host": "database",
  "port": 5432,
  "username": "topflop",
  "password": "topflop",
  "database": "topflop",
  "synchronize": false,
  "logging": false,
  "entities": ["dist/src/Domain/**/*.entity{.ts,.js}"],
  "migrations": ["dist/migrations/**/*{.ts,.js}"],
  "migrationsTableName": "migrations"
}
